/*-- Details Page --*/

.details-movie {
    padding: 2rem 5rem;
}

.details-text h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.details-data {
    display: flex;
    justify-content: center;
}

.details-img {
    width: 40vw;
    margin-right: 2rem;
}

.details-img img {
    width: 100%;
    padding: 1rem;
    border: 0.2rem groove #fff;
    box-shadow: .2rem .2rem .2rem #333;
}

.details-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 0.2rem groove #fff;
    padding-left: 2rem;
}

.details-btn {
    margin-top: 1rem;
    display: flex;
}

.details-btn a {
    text-align: center;
    display: inline-block;
    border: 0.1rem groove #fff;
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.3rem 0.5rem;
    margin-right: 0.2rem;
}

.details-btn button {
    cursor: pointer;
    border: 0.1rem groove #fff;
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.3rem 0.5rem;
}

.details-movie .edit-btn {
    border: 0.1rem groove green;
    color: green;
}

.details-movie .delete-btn {
    border: 0.1rem groove red;
    color: red;
}

.details-movie .like-btn {
    border: 0.1rem groove yellow;
}

.details-movie .edit-btn:hover, .details-movie .delete-btn:hover, .details-movie .like-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*-- end Details Page --*/