/*-- Create Form --*/
.create-section {
    width: 30vw;
    border: 0.2rem groove #fff;
    margin: 1rem auto;
}

.create-intro {
    padding: 1rem;    
    margin-bottom: 1rem;
    border-bottom: 0.2rem groove #fff;
    text-align: center;

}

.create-movie-form {
    padding: 1rem;
}

.create-movie-form input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border: 0.2rem groove #fff; 
}

.create-movie-form button {
    border: 0.1rem groove rgb(50, 179, 243);
    color: rgb(20, 79, 109);
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    background-color: #fff;
}

.create-movie-form button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.create-movie-form .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0; 
    border-bottom: 0.2rem groove #fff;
}

.create-movie-form #blackAndWhite {
    background-color: mediumseagreen;
    width: 2rem;
    margin: 0;
}

.create-movie-form #description {
    width: 100%;
}

/*-- end Create Form --*/