/*-- Movies Catalog --*/

.movies-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 0.2rem groove #fff;
}

.movies-catalog h2, .movies-intro {
    text-align: center;
    margin-bottom: 0.2rem;
}

.movies-intro a {
    text-align: center;
    line-height: 2.2rem;
    border: 0.1rem groove #fff;
    color: #333;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.3rem 0.5rem;
}

.movies {
    width: 80vw;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.movie {
    width: 30%;
    height: 80vh;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
    border: 0.2rem groove #fff;
}

.movie h3 {
    margin-bottom: 1rem;

}

.movie a {
    text-align: center;
    display: inline-block;
    line-height: 2.2rem;
    border: 0.1rem groove #850000;
    color: #850000;
    background-color: #fff;
    padding: 0.3rem 0.5rem;
}

.movie-img {
    height: 65vh;
}

.movie .movie-img img {
    width: 100%;
    margin-bottom: 1rem;
    border: 0.2rem groove #fff;
    padding: 0.5em 0.5rem 3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #333;
}

/*-- end  Movies Catalog --*/